body {
  background-color: gray;
  font-family: verdana;
}

p {
  margin: 0;
}

.box {
  background-color: white;
  height: 358px;
  width: 252px;
  border-radius: 10px;
  position: relative;
  top: 80px;
  left: 40%;
  overflow: hidden;
}

.title {
  padding-top: 17px;
}

.display {
  position: relative;
  top: 10px;
  height: 40px;
}

.display input {
  color: black;
  position: relative;
  height: 38px;
  width: 224px;
  border: none;
  font-size: 21px;
  text-align: right;
}

.keys {
  position: relative;
  top: 19px;
  background-color: #ddcee8;
}

.button {
  margin: 0;
  width: 63px;
  height: 53px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 100;
}
.button:hover {
  filter: brightness(110%);
}

.button.gray {
  background: linear-gradient(0deg, #f7e4fd, #f1c2fb);
}

.button.pink {
  color: white;
  background: linear-gradient(0deg, #f9cf73, #ffb470);
}

.button.black {
  background: linear-gradient(0deg, #ededed, white);
}

.button.orange {
  color: white;
  background: linear-gradient(0deg, #ffa36f, #ff896e);
}

.button:focus {
  outline: none;
}

.gray:active {
}

.pink:active {
}

.black:active {
}

.orange:active {
}
