body {
  background-color: #E0F7FA;
  text-align: center;
}

.box {
  background-color: white;
  height: 375px;
  width: 250px;
  border-radius: 10px;
  position: relative;
  top: 80px;
  left: 40%;
  box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.4);
}

.title {
  padding-top: 17px;
}

.display {
  background-color: white;
  width: 220px;
  position: relative;
  left: 15px;
  top: 20px;
  height: 40px;
  color: #4DD0E1;
}

.display input {
  position: relative;
  left: 2px;
  top: -1px;
  height: 35px;
  color: #4DD0E1;
  background-color: black;
  font-size: 21px;
  text-align: right;
  border-radius: 10px;
  margin-top: -10px;
}

.keys {
  position: relative;
  top: 15px;
  padding-right: 7px;
  padding-bottom: 7px;
}

.button {
  color: black;
  width: 40px;
  height: 30px;
  border: none;
  margin-left: 17px;
  border-top: 2px solid transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
  background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);
  border-radius: 50% / 14%;
  box-shadow:
    0px 3px 0px 0px #B6B6B6,
    0px 2px 6px 0px rgba(0, 0, 0, 0.4);
  border : 1px solid #C4C4C4;
}

.button.gray {
  color: black;
  background-color: #4DD0E1;
  border-bottom: black 2px solid;
  border-top: 2px #6f6f6f solid;
  background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
  background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);
  border-radius: 50% / 14%;
  box-shadow:
    0px 3px 0px 0px #B6B6B6,
    0px 2px 6px 0px rgba(0, 0, 0, 0.4);
  border : 1px solid #C4C4C4;
}

.button.pink {
  color: black;
  background-color: #ff4561;
  border-bottom: black 2px solid;
  background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
  background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);
  border-radius: 50% / 14%;
  box-shadow:
    0px 3px 0px 0px #B6B6B6,
    0px 2px 6px 0px rgba(0, 0, 0, 0.4);
  border : 1px solid #C4C4C4;
}

.button.black {
  color: black;
  background-color: 303030;
  border-bottom: black 2px solid;
  border-top: 2px 303030 solid;
  border-radius: 50% / 14%;
  background: linear-gradient(to bottom, rgb(124,197,201) 0%,rgb(135,216,220) 100%);
  border : 1px solid #64adaf;
  box-shadow:
    0px 6px 0px 0px rgba(100, 173, 175, 1),
    0px 5px 12px 0px rgba(0, 0, 0, 0.4);
}


.button.orange {
  color: black;
  background-color: #FF9933;
  border-bottom: black 2px solid;
  border-top: 2px FF9933 solid;
  background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
  background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);
  border-radius: 50% / 14%;
  box-shadow:
    0px 3px 0px 0px #B6B6B6,
    0px 2px 6px 0px rgba(0, 0, 0, 0.4);
  border : 1px solid #C4C4C4;
}

.gray:active {
  top: 1px;
  box-shadow: 0px 0px 0px 0px rgba(100, 173, 175, 1),
  0px 1px 6px 0px rgba(0, 0, 0, 0.4);
}

.gray:hover {
  border: 1px solid #919191;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DCDCDC));
  background: -moz-linear-gradient(top, #FFFFFF, #DCDCDC);
}

.pink:active {
  top: 1px;
  box-shadow: 0px 0px 0px 0px rgba(100, 173, 175, 1),
  0px 1px 6px 0px rgba(0, 0, 0, 0.4);
}

.pink:hover {
  border: 1px solid #919191;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DCDCDC));
  background: -moz-linear-gradient(top, #FFFFFF, #DCDCDC);
}

.black:active {
  top: 2px;
  box-shadow: 0px 2px 0px 0px rgba(100, 173, 175, 1),
  0px 5px 6px 0px rgba(0, 0, 0, 0.4);
}

.black:hover {
  background: linear-gradient(to bottom, #A7DEE2 0%,rgb(135,216,220) 100%);
  border: 1px solid #818181;
}

.orange:active {
  border-top: black 2px solid;
  border-bottom: FF9933 2px solid;
}

p {
  line-height: 10px;
}

h1 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
